# Dependencies
node_modules/
.pnp/
.pnp.js

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local
.env.*.local

# Databases & local stores
*.sqlite3
*.db
*.index
backend/data/indexes/*.index
backend/data/indexes/users/
backend/data/storage/*.jpg
backend/data/storage/*.png
backend/data/storage/users/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
